@charset "UTF-8";

// https://stackoverflow.com/questions/20721248/best-way-to-override-bootstrap-css

body#bootstrap-overrides{

  input, button{
    // border: 0 none;
    border-radius: 0;
    &:active, &.active{
      box-shadow: none;
    }
    &:focus, &:active:focus, &.active:focus {
      outline: 0 none;
      box-shadow: none;
    }
  }

  // --- Buttons ---------------------------------------------------------------
  // --- https://bootstrapbay.com/blog/bootstrap-button-styles/
  
  .btn {
    padding: 12px 20px 6px 20px;
    cursor: pointer;
    text-decoration: none;
    @extend .font-sans-s;
    &.btn-large{
      @extend .font-sans-s;
      padding: 14px 25px 9px 25px;
      &.reduce-xs{
        @include media-breakpoint-only(xs){
          padding: 14px 18px 9px 18px;
          font-size: 12px;
        }
      }
    }
    &.btn-small{
      @extend .font-sans-ss;
      padding: 10px 16px 4px 16px;
    }
    border: 0 none;
    @extend .font-sans-ss;
    letter-spacing: 0;
    text-transform: uppercase;
    border-radius: 100px;
    &:active, &.active{
      box-shadow: none;
    }
    &.disabled{
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }

  }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    box-shadow: none;
  }
  .btn-primary {
    $color-bg: white;
    background: $color-bg;
    color: $color-super-blue;
    &.font-color-red{ color: $color-super-red; }
    &.font-color-gold{ color: $color-super-gold; }
    &.font-color-black{ color: black; }
    &:hover, &:active, &.active, .open > &.dropdown-toggle {
      color: $color-bg;
      background: $color-super-blue;
      &.font-color-red{ background: $color-super-red; }
      &.font-color-gold{ background: $color-super-gold; }
      &.font-color-black{ background: black; }
    }
    &:active, &.active {
      color: $color-bg;
      background: darken($color-super-blue, 10%);
      &.font-color-red{ background: darken($color-super-red, 10%); }
      &.font-color-gold{ background: darken($color-super-gold, 10%); }
      &.font-color-black{ background: black; }
    }
    &.black{
      background-color: black;
      color: white;
      &:hover, &.active, .open > &.dropdown-toggle, &:active, &.active {
        background-color: $color-super-blue;
      }
    }
    &.blue{
      background-color: $color-super-blue;
      color: white;
      &:hover, &.active, .open > &.dropdown-toggle, &:active, &.active {
        background-color: darken($color-super-blue, 10%);
      }
    }
    &.red{
      background-color: $color-super-red;
      color: white;
      &:hover, &.active, .open > &.dropdown-toggle, &:active, &.active {
        background-color: darken($color-super-red, 10%);
      }
    }
    &.black-light{
      background-color: $black10;
      color: black;
      &:hover, &.active, .open > &.dropdown-toggle, &:active, &.active {
        // color: white;
        background-color: white;
        // background-color: $black90;
      }
    }
    &.hover-gold-dark{
      &:hover, &.active, .open > &.dropdown-toggle, &:active, &.active {
        background-color: darken($color-super-gold, 10%);
      }
    }
  }

  // eg
  // .btn-bg-gold-text-white
  // .btn-bg-blue-text-white
  // .btn-bg-red-text-white
  // .btn-bg-black-text-white
  @each $bg-name, $bg, $text-name, $text in 
    ("gold",  $color-super-gold,   "white", white),
    ("blue",  $color-super-blue,   "white", white),
    ("red",   $color-super-red,    "white", white),
    ("black", black,            "white",  white)
  {
    .btn-bg-#{$bg-name}-text-#{$text-name}{
      background: $bg;
      color: $text;
      &:hover, &:focus, &:active, &.active, .open > &.dropdown-toggle { background: darken($bg, 5%); }
      &:active, &.active { background: darken($bg, 10%); }
    }
  }

  .btn-colored-gold,
  .btn-colored-blue,
  .btn-colored-red,
  .btn-colored-black {
    $color-bg: "that-one";
    background: $color-bg;
    color: white;
    &:hover, &:focus, &:active, &.active, .open > &.dropdown-toggle {
      color: $color-bg;
      background: $color-super-blue;
      &.font-color-red{ background: $color-super-red; }
      &.font-color-gold{ background: $color-super-gold; }
    }
    &:active, &.active {
      color: $color-bg;
      background: $color-super-blue;
      &.font-color-red{ background: $color-super-red; }
      &.font-color-gold{ background: $color-super-gold; }
    }
  }
  .btn-secondary{}
  .btn-light{}
  .btn-dark{}

  .btn-link {
    margin: 0; 
    padding: 0;
    font-weight: normal;
    color: inherit;
    background-color: transparent;
    text-decoration: inherit;
    &:focus, &.focus {
      text-decoration: inherit;
      border-color: transparent;
      box-shadow: none;
    }
  }


  .dropdown{
    .btn-primary:disabled{
      // pointer-events: none;
      cursor: not-allowed;
    }
    .dropdown-menu{
      &.show{
        max-width: 95vw;
        border-radius: 0;
        &.btn-gold{
          background-color: white;
          margin-top: 5px;
          border: none;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          a, span{
            white-space: normal;
            min-width: 280px;
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
            background-color: white;
            @extend .bordered-list;
            &::after{
              display: none;
            }
            max-width: 85vw;
            // word-wrap: break-word;
            &:hover{
              background: white;
            }
          }
          span.font-color-grey:hover{
            color: $color-super-grey;
          }
        }
      }
    }
  }

  .alert{
    border-radius: 0;
    border: none;
    color: black;
    a{
      color: inherit;
      text-decoration: underline;
    }
    &.alert-primary{
      // background-color: $color-super-red;
      background-color: rgba(0,0,0,0.05);
      border-left: 5px solid #ed4343;
    }
    &.alert-success{
      background-color: $teal;
    }
    &.alert-warning{
      background-color: $yellow;
    }
    &.alert-danger{
      background-color: $yellow;
    }
  }

}