@charset "UTF-8";

// Page: Corsi
///////////////////////////////////////////////////////////////////////////

.corsi-column{
  &.first{
    border-left: 0px !important;
  }
  &.second{
    @include media-breakpoint-down(md) { border-left: 0px solid black !important; }
    @include media-breakpoint-up(md) { border-left: 1px solid black !important; }
  }
  &.third{
    @include media-breakpoint-down(md) { border-left: 0px solid black; }
    @include media-breakpoint-up(md) { border-left: 1px solid black; }
  }
}
