@charset "UTF-8";

// e.g.
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-down(sm) { ... }

/////////////////////////////////
// Declarations
/////////////////////////////////

@font-face {
  font-family: "Acumin";
  src: 
    url("../fonts/acuminprowide-semibold.otf") format("opentype"),
    url("../fonts/acuminprowide-semibold.woff") format('woff');
  font-weight: 600;
}
@font-face {
  font-family: "Super";
  src: 
    url("../fonts/GT-Super-Display-Super.otf") format("opentype"),
    url("../fonts/GT-Super-Display-Super.woff") format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "SuperSuper";
  src: 
    
    // Old
    // url("../fonts/--SuperSuper.otf") format("opentype"),
    // url("../fonts/--SuperSuper.woff") format('woff');

    // New
    url("../fonts/SuperSuper-Regular.otf") format("opentype"),
    url("../fonts/SuperSuper-Regular.woff") format('woff'),
    url("../fonts/SuperSuper-Regular.woff2") format('woff2');
    

  font-weight: normal;
}

/////////////////////////////////
// Mixins
/////////////////////////////////

// @each $type, $size, $size-sm, $size-md, $line-h in 
//   ("sans",        "ssss",  7px,  7px,  1.1em),
//   ("sans",        "sss",   9px,  9px,  1.1em),
//   ("sans",        "ss",    10px, 12px, 1.45em),
//   ("sans",        "s",     14px, 14px, 1.45em),
//   ("sans",        "m",     15px, 18px, 1.15em),
//   ("sans",        "l",     18px, 21px, 1.1em),
//   ("sans",        "ll",    21px, 27px, 1.1em),
//   ("sans",        "lll",   24px, 32px, 1.0em),
//   ("super",       "ss",    10px, 12px, 1.0em),
//   ("super",       "s",     12px, 14px, 1.0em),
//   ("super",       "m",     15px, 17px, 1.0em),
//   ("super",       "l",     18px, 21px, 1.0em),
//   ("super",       "ll",    24px, 30px, 1.0em),
//   ("super",       "lll",   32px, 42px, 1.0em),
//   ("super",       "llll",  60px, 80px, 1.0em),
//   ("supersuper",  "ss",    10px, 12px, 1.0em),
//   ("supersuper",  "s",     12px, 14px, 1.0em),
//   ("supersuper",  "m",     15px, 18px, 1.0em),
//   ("supersuper",  "l",     18px, 21px, 1.0em),
//   ("supersuper",  "ll",    24px, 30px, 1.0em),
//   ("supersuper",  "lll",   32px, 42px, 1.0em),
  
//   // ("supersuper",  "llll",  60px, 80px, 1.0em) // Old
//   ("supersuper",  "llll",  70px, 106px, 1.0em) // New
// {
//   .font-#{$type}-#{$size}{
//     @if $type == "sans" { font-family: "Acumin"; }
//     @else if $type == "super" { font-family: "Super"; }
//     @else if $type == "supersuper" { font-family: "SuperSuper"; }
//     // @else if $type == "supersuper" { font-family: "super_superregular"; }
//     line-height: $line-h;
//     font-size: $size-sm;
//     @include media-breakpoint-up(md) { font-size: $size-md; }
//   }
// }





@mixin font-style ($type, $size-sm, $size-md, $line-h) {
  @if $type == "sans" { font-family: "Acumin"; }
  @else if $type == "super" { font-family: "Super"; }
  @else if $type == "supersuper" { font-family: "SuperSuper"; }

  line-height: $line-h;
  font-size: $size-sm;
  @include media-breakpoint-up(md) { font-size: $size-md; }
}

@mixin font-sans-ssss       { @include font-style("sans",       7px,  7px,  1.1em); }
@mixin font-sans-sss        { @include font-style("sans",       9px,  9px,  1.1em); }
@mixin font-sans-ss         { @include font-style("sans",       10px, 12px, 1.45em); }
@mixin font-sans-s          { @include font-style("sans",       14px, 14px, 1.45em); }
@mixin font-sans-m          { @include font-style("sans",       15px, 18px, 1.15em); }
@mixin font-sans-l          { @include font-style("sans",       18px, 21px, 1.1em); }
@mixin font-sans-ll         { @include font-style("sans",       21px, 27px, 1.1em); }
@mixin font-sans-lll        { @include font-style("sans",       24px, 32px, 1.0em); }
@mixin font-super-ss        { @include font-style("super",      10px, 12px, 1.0em); }
@mixin font-super-s         { @include font-style("super",      12px, 14px, 1.0em); }
@mixin font-super-m         { @include font-style("super",      15px, 17px, 1.0em); }
@mixin font-super-l         { @include font-style("super",      18px, 21px, 1.0em); }
@mixin font-super-ll        { @include font-style("super",      24px, 30px, 1.0em); }
@mixin font-super-lll       { @include font-style("super",      32px, 42px, 1.0em); }
@mixin font-super-llll      { @include font-style("super",      60px, 80px, 1.0em); }
@mixin font-supersuper-ss   { @include font-style("supersuper", 10px, 12px, 1.0em); }
@mixin font-supersuper-s    { @include font-style("supersuper", 12px, 14px, 1.0em); }
@mixin font-supersuper-m    { @include font-style("supersuper", 15px, 18px, 1.0em); }
@mixin font-supersuper-l    { @include font-style("supersuper", 18px, 21px, 1.0em); }
@mixin font-supersuper-ll   { @include font-style("supersuper", 24px, 30px, 1.0em); }
@mixin font-supersuper-lll  { @include font-style("supersuper", 32px, 42px, 1.0em); }
@mixin font-supersuper-llll { @include font-style("supersuper", 70px, 106px,1.0em); }

.font-sans-ssss       { @include font-sans-ssss; }
.font-sans-sss        { @include font-sans-sss; }
.font-sans-ss         { @include font-sans-ss; }
.font-sans-s          { @include font-sans-s; }
.font-sans-m          { @include font-sans-m; }
.font-sans-l          { @include font-sans-l; }
.font-sans-ll         { @include font-sans-ll; }
.font-sans-lll        { @include font-sans-lll; }
.font-super-ss        { @include font-super-ss; }
.font-super-s         { @include font-super-s; }
.font-super-m         { @include font-super-m; }
.font-super-l         { @include font-super-l; }
.font-super-ll        { @include font-super-ll; }
.font-super-lll       { @include font-super-lll; }
.font-super-llll      { @include font-super-llll; }
.font-supersuper-ss   { @include font-supersuper-ss; }
.font-supersuper-s    { @include font-supersuper-s; }
.font-supersuper-m    { @include font-supersuper-m; }
.font-supersuper-l    { @include font-supersuper-l; }
.font-supersuper-ll   { @include font-supersuper-ll; }
.font-supersuper-lll  { @include font-supersuper-lll; }
.font-supersuper-llll { @include font-supersuper-llll; }






[class^="font-sans-"], [class^="font-super-"] {
  p{ 
    font-size: inherit;
    line-height: inherit;
  }
}

// .font-color-red
// .font-color-blue
// .font-color-gold
// .font-color-black
// .font-color-white

@each $color-name, $color in 
  ("red",       $color-super-red),
  ("blue",      $color-super-blue),
  ("gold",      $color-super-gold),
  ("grey",      $color-super-grey),
  ("black",     black),
  ("white",     white),
  ("black10",   $black10),
  ("black20",   $black20),
  ("black30",   $black30),
  ("black40",   $black40),
  ("black50",   $black50),
  ("black60",   $black60),
  ("black70",   $black70),
  ("black80",   $black80),
  ("black90",   $black90)
{
  .font-color-#{$color-name}{
    color: $color;
    p, a, span, em, strong{
      color: $color;
    }
  }
}

.links-gold a{
  color: $color-super-gold !important;
}

// for kt inside
@mixin text-sans-s {
  @include font-sans-s;
  p, a, em, strong, br{ @include font-sans-s; }
  strong{ color: $color-super-blue; }
  p{ margin-bottom: 20px; }
}
@mixin text-sans-m {
  @include font-sans-m;
  p, a, em, strong, br{ @include font-sans-m; }
  strong{ color: $color-super-blue; }
  p{ margin-bottom: 20px; }
}
.text-sans-s{ @include text-sans-s; }
.text-sans-m{ @include text-sans-m; }


.font-size-24{ font-size: 24px !important; }
.font-size-27{ font-size: 27px !important; }


