@charset "UTF-8";

/////////////////////////////
// Colors
/////////////////////////////

$grey-dddd: #1C1C1C; // menu & footer
$grey-ddd: #333;
$grey-dd: #666;
$grey-m: #787878;
$grey-l: #cacaca;
$grey-ll: #e2e2e2;
$grey-lll: #F5F5F5;
$color-error: #dc3545;
$color-action: #007AFF;
$color-action2: #0055B3;

$black10: rgba(0,0,0, .1);
$black20: rgba(0,0,0, .2);
$black30: rgba(0,0,0, .3);
$black40: rgba(0,0,0, .4);
$black50: rgba(0,0,0, .5);
$black60: rgba(0,0,0, .6);
$black70: rgba(0,0,0, .7);
$black80: rgba(0,0,0, .8);
$black90: rgba(0,0,0, .9);

$color-bg: #F2F0ED;

$color-super-red: rgba(237, 67, 67, 1);
$color-super-blue: rgba(0, 118, 185, 1);
$color-super-gold: rgba(218, 165, 62, 1);
$color-super-grey: #999;

@each $color-name, $color in 
  ("red",       $color-super-red),
  ("blue",      $color-super-blue),
  ("gold",      $color-super-gold),
  ("grey",      $color-super-grey),
  ("black",     black),
  ("white",     white),
  ("black10",   $black10),
  ("black20",   $black20),
  ("black30",   $black30),
  ("black40",   $black40),
  ("black50",   $black50),
  ("black60",   $black60),
  ("black70",   $black70),
  ("black80",   $black80),
  ("black90",   $black90)
{
  .bg-color-#{$color-name}{
    background-color: $color;
  }
}


/////////////////////////////
// Other vars
/////////////////////////////

$menu-height: 60px;
$menu-height-xs: 60px;
$menu-height-sm: 53px;
$menu-height-lg: 50px;
$margin-xs: 22px;
$margin-md: 40px;
