.field-with-simplemde .field-content {
  border: 2px solid #ddd; }
  .field-with-simplemde .field-content:focus-within {
    border-color: #8dae28; }
.field-with-simplemde.field-is-readonly .field-content:focus-within {
  border-color: #ddd; }
.field-with-simplemde textarea {
  border: none;
  min-height: 300px; }
.field-with-simplemde .editor-toolbar {
  padding: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #EFEFEF;
  background: white;
  opacity: 1;
  border-radius: 0;
  position: static;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10; }
  .field-with-simplemde .editor-toolbar .editor-toolbar-inner {
    position: relative;
    white-space: nowrap;
    max-width: calc(100vw - 3em);
    overflow: auto; }
  .field-with-simplemde .editor-toolbar:before, .field-with-simplemde .editor-toolbar:after {
    display: none; }
  .field-with-simplemde .editor-toolbar a {
    color: #777777 !important;
    border: none;
    border-radius: 0;
    font-size: 16px;
    width: 45px;
    height: 45px; }
    .field-with-simplemde .editor-toolbar a:hover, .field-with-simplemde .editor-toolbar a.active {
      background: none;
      border: none;
      color: black !important; }
    .field-with-simplemde .editor-toolbar a:focus {
      outline: none; }
    .field-with-simplemde .editor-toolbar a:before {
      line-height: 45px; }
    .field-with-simplemde .editor-toolbar a.fa-header-1:after, .field-with-simplemde .editor-toolbar a.fa-header-2:after, .field-with-simplemde .editor-toolbar a.fa-header-3:after {
      font-size: 13px;
      top: 1px; }
  .field-with-simplemde .editor-toolbar input.pagesearch {
    height: 45px;
    width: 100%;
    border: none;
    font: inherit;
    box-sizing: border-box;
    padding: 10px 14px; }
    .field-with-simplemde .editor-toolbar input.pagesearch:focus {
      outline: none; }
  .field-with-simplemde .editor-toolbar .easy-autocomplete-container {
    position: absolute;
    width: 100%;
    max-height: 600%;
    overflow: auto;
    z-index: 10;
    text-align: left;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
    .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul {
      list-style: none; }
      .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li {
        background: white;
        display: block;
        line-height: 1; }
        .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li:hover, .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li.selected {
          cursor: pointer;
          background: #f7f7f7; }
        .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li.no-results {
          height: 45px;
          line-height: 45px;
          padding: 0px 14px;
          color: #777;
          border-top: 1px solid #EFEFEF; }
          .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li.no-results:hover {
            background: white;
            cursor: auto; }
        .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li .eac-item {
          border-top: 1px solid #EFEFEF;
          padding: 6px 14px; }
        .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li .title {
          display: block; }
        .field-with-simplemde .editor-toolbar .easy-autocomplete-container ul li .uri {
          display: block;
          color: #777;
          font-size: 12px;
          padding-top: 4px; }
  .field-with-simplemde .editor-toolbar.pagelink-open .editor-toolbar-inner {
    overflow: visible; }
  .field-with-simplemde .editor-toolbar.pagelink-open a {
    display: none; }
    .field-with-simplemde .editor-toolbar.pagelink-open a.fa-file {
      display: block;
      position: absolute;
      right: 0;
      z-index: 2;
      border-left: 1px dashed #ddd; }
      .field-with-simplemde .editor-toolbar.pagelink-open a.fa-file:before {
        color: black; }
.field-with-simplemde.tabs-helper .editor-toolbar {
  top: 63px; }
.field-with-simplemde .CodeMirror {
  border-radius: 0;
  border: none;
  line-height: 1.5; }
  .field-with-simplemde .CodeMirror, .field-with-simplemde .CodeMirror .CodeMirror-scroll {
    min-height: 130px; }
  .field-with-simplemde .CodeMirror.CodeMirror-over {
    border-color: black; }
  .field-with-simplemde .CodeMirror .cm-formatting {
    opacity: .5; }
.field-with-simplemde.kirbytag-highlighting .cm-kirbytag {
  background: rgba(141, 174, 40, 0.2);
  border-radius: 2px; }

@media screen and (max-height: 700px), screen and (max-width: 50em) {
  .field-with-simplemde .editor-toolbar {
    position: relative;
    top: auto; }
  .field-with-simplemde.tabs-helper .editor-toolbar {
    top: auto; } }

/*# sourceMappingURL=editor.css.map */
