@charset "UTF-8";

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';

@import './sass-utilities/_variables';
@import './sass-utilities/_typography';
@import './sass-utilities/_mixins';
@import './sass-utilities/_hamburgers';
@import './sass-utilities/_bootstrap-overrides';

@import './sass-utilities/_coronavirus-edits';


// -----------------------------------------------------------------------------
// Global Rules & Definitions & Utilities
// -----------------------------------------------------------------------------

.cursor-pointer { cursor: pointer; }
.border-bottom { border-bottom: 1px solid black; border-color: black !important; }

// ------------------------------------------------------------------------
// Reset & Normalization
// ------------------------------------------------------------------------

*:not(i){
  &, &::before, &::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    // @extend #{$default-font};
    @include font-sans-s;
  }
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  // Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: lighten($color-super-blue, 45%);
  color: black;
}

::selection {
  background: lighten($color-super-blue, 45%);
  color: black;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}


// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------ 

.no-underline, .no-underline:hover, a:hover .no-underline{
  text-decoration: none !important;
}
.bg-white{ background-color: white; }
.font-color-black30 { color: rgba(black, 0.3) !important; }
.pointer { cursor: pointer; }

// ------------------------------------------------------------------------
// Elements
// ------------------------------------------------------------------------ 

html {
  color: #000;
  cursor: default;
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(113, 239, 172, .5);
  min-height: 100%;
}

body{
  color: black;

  &.no-scroll{
    overflow: hidden;
  }
}

main{
  background: $color-bg;
  &.main-big-logo{
    padding-top: 0px;
    position: relative;
  }
  &.main{
    &:not(#pagina-admin){
      min-height: 70vh;
    }
    $pt-main: 20px;
    padding-top: $menu-height/* -xs */ + $pt-main;
    @include media-breakpoint-up(sm) { padding-top: $menu-height/* -sm */ + $pt-main; }
    @include media-breakpoint-up(lg) { padding-top: $menu-height/* -lg */ + $pt-main; }
  }
  padding-bottom: 80px;
}

h1{
  @include font-super-ll;
}

h2, h2 span{
  @include font-sans-l;
  margin: 10px 0;
}

h3{
  @include font-super-m;
  margin: 10px 0;
}

h4{
  @include font-sans-m;
}

p{
  @include font-sans-s;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
    text-decoration: underline; }
  &.font-color-red{ 
    &:hover{ 
      color: darken($color-super-red, 5%);
      text-decoration: none; } 
    &:active{
      color: darken($color-super-red, 10%); } }
  &.font-color-blue{ 
    &:hover{ 
      color: darken($color-super-blue, 5%);
      text-decoration: none; } 
    &:active{
      color: darken($color-super-blue, 10%); } }
  &.font-color-gold{ 
    &:hover{ 
      color: darken($color-super-gold, 5%);
      text-decoration: none; } 
    &:active{
      color: darken($color-super-gold, 10%); } } 
  &.no-hover:hover{
    text-decoration: none !important;
  }
  &.hover-red:hover{
    color: $color-super-red !important;
    text-decoration: none !important;
  }
  &.hover-black:hover{
    color: black !important;
    text-decoration: none !important;
  }
}

hr{
  height: 0px;
  border-bottom: 1px solid black;
  &.thin{ border-bottom: 1px solid $black30; }
}

a.bordered-list, 
span.bordered-list, 
#modal-turni a.bordered-list{
  display: block;
  @include font-sans-s;
  padding-top: 5px;
  padding-bottom: 0px;
  line-height: 28px;
  & + .bordered-list{
    border-top: 1px solid black;
  }
  &.bigger-title{
    font-size: larger;
    line-height: 1.3em;
    padding-top: 9px;
    padding-bottom: 5px;
  }
}
a.bordered-list, 
#modal-turni a.bordered-list{
  color: black;
  &:not(.no-arrow)::after{
    content: "→";
    margin-left: 3px;
  }
  &:hover, &.active{
    color: $color-super-gold;
    text-decoration: none;
  }
}

a.hover-gold:hover{
  text-decoration: none;
  color: $color-super-gold;
}

.bar-blue{
  background-color: $color-super-blue;
  color: white;
  a{
    @include font-sans-l;
    text-decoration: underline;
    color: white;
  }
}
.h{
  min-height: $menu-height;
}

// --- Margins & grid ----------------------------------------------------------

$LR-padding-0: 20px;
$LR-padding-1: 50px;    // sm
$LR-padding-2: 100px;   // lg
@mixin responsive-LR-padding(){ padding-left: $LR-padding-0; padding-right: $LR-padding-0;
  @include media-breakpoint-up(sm) { padding-left: $LR-padding-1; padding-right: $LR-padding-1; }
  @include media-breakpoint-up(lg) { padding-left: $LR-padding-2; padding-right: $LR-padding-2; }
}
.container-fluid.super-cont{
  @include responsive-LR-padding();
  max-width: 1350px;
  &:not(.s-c-admin){
    overflow: hidden;
  }
}

// -----------------------------------------------------------------------------
// Site Layout
// -----------------------------------------------------------------------------

// --- Menu --------------------------------------------------------------------

.super-menu-full{
  @include transition(top 200ms);
  padding-top: 0px;
  padding-bottom: 0px; 
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.03);

  .h{
    height: $menu-height;
    .menu-item, .separator{
      margin-left: 3px;
      display: inline-block;
    }
  }
  &.big-logo{
    top: -250px;
    &.show{
      top: 0px;
    }
  }
  z-index: 204;
}

.logo-h-60 {
  height: 60px;
  max-width: 100%;
}

#search-bar{
  @include transition(top 200ms);
  z-index: 204;
  height: 2 * $menu-height;
  top: -$menu-height * 2.1;
  padding-top: $menu-height;
  background-color: white;
  .bor{
    height: $menu-height;
    border-top: 1px solid #eee;
  }
  .h{
    height: $menu-height;
  }
  &.open{
    top: 0;
  }
  &.menu-is-closed.open{
    top: -$menu-height;
  }
  #search-big{
    #search-big-input{
      border: 0px;
      box-shadow:none !important;
      color: $color-super-gold;
      &::placeholder{
        color: black;
        opacity: 0.3;
      }
    }
  }
}

.super-menu{
  .menu-font-size{
    font-size: 13px !important;
  }
  a.menu-item{
    color: black;
    &.white-text{ color: white; }    
    &.active, &:hover{
      color: $color-super-gold;
      text-decoration: none;
    }
    &:active{
      color: darken($color-super-gold, 10%);
    }
  }
  span.separator{
    margin-left: -1px;
    margin-right: -1px;
    color: black;
    &.white-text{ color: white; }
  }
}

#menu-xs{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -110vw;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  @include media-breakpoint-up(sm) {
    right: -400px;
    width: 350px;
  }
  background-color: white;
  padding: 20px;
  padding-top: $menu-height/* -xs */ + 20px;
  z-index: 3;
  @include transition(right 200ms);
  &.open{
    right: 0px;
  }
}

.super-menu, #menu-xs{
  form#search{
    display: inline;
    color: black;
    &.white-text{
      color: white;
      input[type="search"] {
        border-bottom: 1px solid white;
      }
    }
    button[type="submit"], input[type="search"] {
      background: none!important;
      color: inherit;
      border: none; 
      padding: 0!important;
      letter-spacing: 0;
      border: none;
      cursor: pointer;
    }
    input[type="search"] {
      border-radius: 0;
      border-bottom: 1px solid black;
      @include media-breakpoint-up(md) { 
        width: 40px; 
        font-size: smaller;
      }
      color: inherit;
      &::placeholder{
        color: inherit;
        opacity: .7;
      }
    }
  }
  .cart-number-dot{
    border-radius: 10px;
    position: relative;
    left: -5px;  
    background-color: $color-super-gold;
    height: 15px;
    min-width: 15px;
    &.hide{
      display: none !important;
    }
    text-decoration: none;
    &:hover{
      text-decoration: none;
      background-color: darken($color-super-gold, 10%);
    }
    .cart-number{
      color: white;
    }
  }
}

// --- Header admin ------------------------------------------------------------

#admin-header{
  a{
    text-decoration: none;
    color: #cce5ff;
    &:hover{
      color: white;
    }
  }
}

// --- Breadcrumb --------------------------------------------------------------

.breadcrumb-title{
  color: black;
  a{
    text-decoration: none;
    &.corsi-speciali, &.corsi-speciali::after{
      color: $color-super-gold !important;
    }
  }
  &.font-color-white{ 
    a::after{ color: white; }
    span{
      color: white;
    }
  }
  a::after{
    content: "/";
    pointer-events: none;
    @include font-super-ll;
    color: black;
    margin-left: 6px;
  }
}

// --- Cart --------------------------------------------------------------------

#cart-cover{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 205;
  opacity: 0;
  @include transition(opacity 200ms);
  &.show{
    pointer-events: all;
    opacity: .7;
  }
}

#cart{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -110vw;
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  @include media-breakpoint-up(sm) {
    right: -400px;
    width: 350px;
  }
  background-color: $color-super-gold;
  padding: 20px;
  z-index: 205;
  @include transition(right 200ms);
  &.open{
    right: 0px;
  }
  #cartItemList{
    li{
      padding-top: 7px;
      padding-bottom: 13px;
      border-top: 1px solid white;
      .nome-corso{ width: 70%; }
      .prezzo{ text-align: right; }
    }
  }
  #cart-totale .bordered{
    padding-top: 7px;
    padding-bottom: 13px;
    border-top: 1px solid white;
  }
}

#modal-turni, #modal-share{
  .modal-dialog{
    max-width: 380px;
    .modal-content{
      border-radius: 20px;
      header{
        padding: 20px;
      }
      .modal-body{
        padding: 0px 20px;
      }
      a.turno-item{
        text-decoration: none;
        padding: 2px 0 1px 0;
        &:hover{
          color: $color-super-gold;
        }
        &.disabled{
          cursor: not-allowed;
          color: $grey-l;
        }
        .details{
          font-size: 11px;
        }
        &.turno-admin-only{
          color: $color-super-red;
        }
      }
    }
  }
}

// --- Footer ------------------------------------------------------------------

footer{
  color: white;
  .bar-newsletter{
    background-color: $color-super-gold;
    color: black;
  }
  .bar-social{
    background-color: white;
    color: black;
  }
  .frase-social{
    &, p, span, a{
      @include font-sans-l;
      @include media-breakpoint-down(sm) {
        line-height: 1.3em;
      }
    }
  }
  .main{
    padding-top: 25px;
    min-height: 380px;
    padding-bottom: 80px;
    a{color: white;}
    a:hover{
      text-decoration: none;
    }
    .column1-b{
      max-width: 400px;
    }
  }
  div.dynamic-text{
    @include font-sans-ss;
    p, a, span, h1, h2, h3, h4, h5, h6, em, strong, br{
      @include font-sans-ss;
      line-height: 1.2em;
    }
    &.smll{
      @include media-breakpoint-up(lg) {
        font-size: 9px;
        p, a, span, h1, h2, h3, h4, h5, h6, em, strong, br{
          font-size: 9px;
          line-height: 1.5em;
        }
      }
    }
    p + p{
      margin-top: 1.2em;
    }
  }
}

.logo-max-w {
  width: 100%;
  max-width: 230px;
  height: auto;
}

// --- mailchimp form ----------------------------------------------------------
// --- editing guide https://mailchimp.com/help/css-hooks-for-customizing-forms

#mc_embed_signup.super-mc-embed-signup{
  min-height: $menu-height;
  background-color: $color-super-gold;
  .btn{
    margin: 0;
  }
  #mc-embedded-subscribe-form{
    padding: 0;
  }
  #field-group-super.mc-field-group{
    width: auto;
    padding-bottom: 0;
    min-height: auto;
    flex-grow: 1;
  }
  input#mce-EMAIL{
    border: 0px;
    background-color: $color-super-gold;
    color: black;
    &::placeholder{
      color: darken($color-super-gold, 15%);
    }
    max-width: none;
    text-indent: 0;
    &.mce_inline_error{
      border: 0px;
    }
  }
  #mc-embedded-subscribe-form div.mce_inline_error{
    padding: 0;
    background-color: transparent;
    color: $color-super-red;
    position: absolute;
    font-size: 8px;
    text-transform: uppercase;
  }
  div#mce-responses{
    margin: 0;
    padding: 0;
    #mce-error-response{ color: $color-super-red; }
    #mce-success-response{ color: black; }
  }
}

.row.arrows{
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  @include transition(padding-top 500ms, padding-bottom 500ms);
  &:hover{
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.img-framed{
  border: 12px solid white;
  border-radius: 12px;
  box-shadow: 0 0 25px 10px rgba(0,0,0, 0.05);
  margin-bottom: 25px;
}

// --- Docenti -----------------------------------------------------------------

.docente-container{
  .docente-portrait{ 
    width: 100%;
  }
  .docente-name{
    line-height: 14px;
  }
}

// -----------------------------------------------------------------------------
// --- 3 Page specific layouts 
// -----------------------------------------------------------------------------

// --- Page: Amministrazione trasparente ---------------------------------------

#pagina-amministrazione-trasparente{
  .amm-transp-body{
    a{
      @extend .font-color-blue;
      &::after{
        content: "→";
        margin-left: 3px;
      }
    }
    p{
      margin: 15px 0;
    }
  }
}

// --- Page: Crowdfunding (template: default) ----------------------------------

.frame-images {
  img{
    width: 100%;
    max-width: 100%;
    @extend .img-framed;
    &.small{
      @include media-breakpoint-up(sm) {
        width: 50%;
        max-width: 50%;
      }
    }
  }
}

.text-sans-s {
  a {
    color: $color-super-red;
  }
}

// --- Page: Admin -------------------------------------------------------------

$header-admin-height: 50px;

#pagina-admin{
  padding: 0;
  padding-top: 0;
  margin: 0;
  background-color: lighten($color-super-red, 5%);
  background-color: $color-super-red;
  position: fixed;
  // height: 100%;
  width: 100%;
  height: $header-admin-height;
  z-index: 2;
  header{
    z-index: 2;
    padding: 0 20px;
    height: $header-admin-height;
    border-bottom: 1px solid darken($color-super-red, 15%);
  }
}

.scroll-wrapper{
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  z-index: 1;
  position: fixed;
  padding: ($header-admin-height - 1px) 0px 0px 0px;
  width: 100vw; height: 100vh;
}
iframe{
  width: 100%; height: 100%;
  display: block;
}

div#admin-menu{
  z-index: 3;
  position: fixed;
  width: 100%;
  @include media-breakpoint-up(sm) { width: 350px; }
  max-width: 100vw;
  bottom: 0px;
  top: $header-admin-height;
  left: -110vw;
  overflow-y: scroll;
  @include transition(left 200ms);
  &.open{ left: 0px; }
  padding: 14px 20px 20px 20px;
  background-color: lighten($color-super-red, 5%);
  background-color: $color-super-red;
  a.bordered-list{
    &:hover{
      color: white;
    }
    &.disabled{
      pointer-events: none;
      cursor: not-allowed;
      @extend .font-color-black30;
    }
  }
}

// --- Pages: Segreteria-utils -------------------------------------------------

.pagine-segreteria{
  background-color: lighten($color-super-blue, 60);
  min-height: 100vh;
  .badge{
    font-size: 0px;
    padding: 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: -4px;
    border-radius: 10px;
    &.badge-new{
      background-color: $color-super-red;
    }
    &.badge-open{
      background-color: $yellow;
    }
    &.badge-payed{
      background-color: $teal;
    }
    
  }
}

#pagina-segreteria-iscrizioni-per-corso{
  .corso{
    .corso-titolo{

    }
    .turno{
      line-height: 1.0em !important;
    }
    .progress{ 
      height: 1px; 
      background-color: $black20; 
      margin: 3px 0 8px 0;
    }
    .progress-bar{ 
      &.second{
        margin-left: 1px;
      }
    }
    .n-iscritti-simple{
      min-width: 50px;
    }
  }
  .bordered-left{
    @include media-breakpoint-up(md){
      border-left: 1px solid black;
    }
  }
  .collapsible-container {
    display: none;
  }
  table.turni-expanded {
    width: 100%;
    table-layout: fixed;
    td{
      border-bottom: 1px solid black;
      &.c1 { width: 42%; min-width: 45%; max-width: 45%; }
      &.c2 { width: 38%; min-width: 35%; max-width: 35%; }
      &.c3 { width: 15%; min-width: 15%; max-width: 15%; }
      &.c4 { width: 10%; min-width: 10%; max-width: 10%; }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    tr:last-child {
      border-bottom: 52px solid #ecf8ff;
    }
  }
  .turno-expanded + .turno-expanded{
    margin-top: 50px;
  }

}

#pagina-segreteria-conferma-pagamenti{ }

#pagina-segreteria-contatti-studenti,
#pagina-segreteria-contatti-newsletter{
  .table-wrapper{
    background-color: lighten($color-super-blue, 60);
    table{
      background-color: lighten($color-super-blue, 60);
      margin: 0;
      padding: 0;
      &.inner{
        margin-top: 60px;
        margin-bottom: 40px;
      }
      th.header{
        border-bottom: 1px solid black;
      }
      td.data{
        padding-top: 7px;
        padding-bottom: 6px;
        border-bottom: 1px solid black;
      }
    }
  }
}

// --- Pages: Iscrizione.. -----------------------------------------------------

#pagine-checkout{
  input, select{
    height: 25px;
    border-radius: 0;
    border: none;
    padding: 5px 0 0px 0;
    background-color: transparent;
    border-bottom: 1px solid $black30;
    color: black;
    &::placeholder{
      color: black;
      opacity: .3;
    }
    &.form-check-input{
      border-radius: 0;
      border: none;
      background-color: white;
      width: 10px;
      height: 10px;
    }
    &#code{
      height: 30px;
      font-size: 24px;
      &::placeholder{
        font-size: 14px;
      }
    }
  }

  .cart-recap{
    .cart-recap-item{
      border-bottom: 1px solid black;
      .title{ width: 60%; }
      .sconto{ width: 25%; }
      .costo{ 
        width: 80px; 
        text-align: right; 
      }
      .removeCartItem{ 
        width: 35px; 
        text-align: right; 
      }
    }
    .trash-spacer{ width: 35px; }
  }
}

// --- Page: Atelier -----------------------------------------------------------

.atelier{
  &.bl{
    border-left: 1px solid black;
  }
  &.bl-md{
    @include media-breakpoint-up(md){ border-left: 1px solid black; }
    @include media-breakpoint-up(xl){ border-left: none; }
  }
  &.bl-xl{
    @include media-breakpoint-up(xl){ border-left: 1px solid black; }
  }
}

// --- Page: Info --------------------------------------------------------------

#pagina-info{
  .format-table{
    .small-title{
      width: 33%;
      min-width: 60px;
    }
    .value{
    }
  }
  .docs-container{
    .doc-item{
      height: 70px;
      width: 120px;
    }
  }
}

// --- Page: Orientamento ------------------------------------------------------

#pagina-orientamento {
  .disciplina {

    &.expanded {
      .section-text-intro { display: none; }
      .section-btn-open { display: none; }
      .section-corsi-intro { display: none; }
    }

    &:not(.expanded) {
      .section-gallery { display: none; }
      .section-text-full { display: none; }
      .section-corsi-full { display: none; }
      .section-btn-close { display: none; }
    }

    .cover {
      width: 100%;
      padding-bottom: 56%;
      background-size: cover;
      background-position: center center;
    }
    .section-corsi-intro {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
  }
}

// --- Page: Storia ------------------------------------------------------------

#pagina-storia{
  .testo{
    br{ line-height: inherit; }
    p{
      margin-bottom: 20px;
    }
    &.col1{
      p{
        @include font-super-ll;
        @include media-breakpoint-only(md) { font-size: 27px; }
        @include media-breakpoint-only(xl) { font-size: 38px; padding-right: 15%; }
        @extend .font-color-red;
        em{
          font-style: normal;
          @include font-sans-m;
        }
      }      
    }
    &.col2{
      p{
        @include font-sans-s;
        font-size: 14px;
        margin-left: 0;
        max-width: 350px;
        @include media-breakpoint-up(md) { margin-left: 33%; }
      }      
      img{
        width: 66%;
        min-width: 240px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        @include media-breakpoint-only(sm) { margin-left: 60px; }
      }
      h4{
        @include font-sans-ss;
        font-size: 10px;
        padding-right: 33%;
        padding-top: 8px;
        padding-bottom: 10px;
        @include media-breakpoint-only(sm) { margin-left: 60px; }
        margin-bottom: 40px;
      }
      img + h4{
        margin-top: -40px;
      }
    }
    .respect-margins{
      @include media-breakpoint-up(md) { margin-left: 33%; }
    }
  }
}

// --- Page: Manifesto ---------------------------------------------------------

#pagina-manifesto{
  .testo{
    br{ line-height: inherit; }
    p{
      margin-bottom: 20px;
      @include font-sans-s;
    }
    h1{ 
      @include font-sans-lll; 
      @extend .font-color-red;
      margin-bottom: .75em;
      &.bordered-top{
        border-top: 1px solid black;
        margin-bottom: 0;
        padding: 15px 0 12px 0;
      }
      a{
        @include font-sans-lll; 
        display: block;
        color: $color-super-red;
        text-decoration: none;
        &:hover{
          color: darken($color-super-red, 10%);
          text-decoration: none;
        }
        &::after{
          content: "↓";
          position: absolute;
          right: 0;
          margin-top: 5px;
          margin-right: 20px;
          color: black;
        }
      }
    }
    em{ 
      font-style: normal;
      @include font-sans-ss;
    }
  }
}

// --- Page: Corso -------------------------------------------------------------

.font-sans-ss{
  @extend .font-sans-ss;
  p, a, em, strong, br{ @extend .font-sans-ss; }
  strong{ @extend .font-color-blue; }
}

.description{
  img{
    width: 100%;
    max-width: 100%;
    @extend .img-framed;
  }
}

.docente-alt{
  img{
    width: 100%;
    max-width: 100%;
    margin: 8px 0 12px 0;
  }
}

.partner-item{
  max-width: 250px;
}

#programma-container{
  .programma-item{
    p{
      padding: 10px 0;
    }
    em{
      font-size: 11px;
      display: block;
      font-style: normal;
    }
    a.button {
      margin: 5px 0;
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-small;
      text-decoration: none;
      font-size: 11px !important;
    }
    hr{
      margin: 12px 0;
    }
  }
}

.gallery-overlay{
  display: none;
  &.show{
    display: block;
  }
  position: fixed;
  z-index: 315;
  background-color: rgba(255,255,255, .97);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .gallery-container{
    padding: 20px;
  }
  .gallery-item{
    display: none;
    &.show{
      display: flex;
    }
    flex-direction: column;
    align-items: center;
    justify-content: between;
  }
  .sx, .dx{
    width: 50px;
    display: flex;
    align-items: center;
  }
  .top-right{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .top-left{
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

// --- Page: Corsi -------------------------------------------------------------

.corso{
  .text{
    width: 150px;
    margin-top: -2px;
    line-height: 2.0em;
    p{
      @extend .font-super-ll;
    }
  }
}
.corsi-column {
  & + .corsi-column { 
    @include media-breakpoint-up(lg) { border-left: 1px solid black; }
  }

}

// --- Page: Discipline --------------------------------------------------------

a.link-disciplina{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    span.text, span.capolettera{
      color: $color-super-gold;
    }
  }
  &.white-text{
    color: white;
  }
}

// --- Page: Cosa succede ------------------------------------------------------

.news-body{
  img{
    width: 100%;
    max-width: 100%;
    @extend .img-framed;

    &.small{
      width: 50%;
      max-width: 50%;
      margin-left: 25%;
    }
  }
  a, p a{
    color: $color-super-gold;
  }
  strong, b, p strong, p b,{
    color: $color-super-red;
  }
  p{
    margin-bottom: 20px;
  }
}

// --- Page: Homepage ----------------------------------------------------------

#fascia-news{
  height:60px;
  background-color: $color-super-red;
  overflow: hidden;
  .content-wrapper{ // <<< is animated
    position: relative;
    p, a, span{
      @extend .font-sans-ll;
      white-space: nowrap;
      display: inline;
    }
    a{ text-decoration: underline; }
  }
}


.landing-dsk {
  flex-flow: column nowrap;
  height: calc(100vh - 110px);
  @media (max-height: 680px) { 
    height: calc(100vh + 10px);
  }
  @media (max-height: 500px) { 
    height: 600px;
  }
  .images {
    max-height: 300px;
    position: relative;
  }
  .images-v3 {
    max-height: 300px;
    position: relative;
  }
}

.hp-illustration {
  height: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.hp-illustration-wrapper-v2 {
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.hp-illustration-v3 {
  height: 100%;
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.copy{
  @include font-sans-m;
  strong, b{
    color: $color-super-blue;
    @include font-sans-m;
  }
  p{
    @include font-sans-m;
  }
  em{
    @include font-sans-m;
    font-style: italic;
  }
  p + p{
    margin-top: 12px;
  }
  a:not(.btn){
    @include font-sans-m;
    text-decoration: underline;
  }
}


a.huge-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-sans-ll;
  @include transition(background-color 400ms);
  height: 60px;
  border-radius: 30px;
  color: white;

  background-color: $color-super-red;
  &:hover { 
    text-decoration: none; 
    background-color: darken($color-super-red, 10%);
  }
  &.blue {
    background-color: $color-super-blue;
    &:hover { 
      background-color: darken($color-super-blue, 10%);
    }
  }
  &.gold {
    background-color: $color-super-gold;
    &:hover { 
      background-color: darken($color-super-gold, 10%);
    }
  }
}

a#crowdfunding-btn-mobile {
  z-index: 205;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  width: 36vw;
  height: 36vw;
  border-radius: 18vw;
  font-size: 3vw;
  pointer-events: none;
  opacity: 0;
  background-color: $color-super-red; // default
  &.blue {
    background-color: $color-super-blue;
  }
  &.gold {
    background-color: $color-super-gold;
  }
  @include transition(opacity 800ms);
  @include media-breakpoint-up(sm) {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    font-size: 16px;
  }
  &.show {
    pointer-events: all;
    opacity: 1;
  }
}

.link-hp-super,
.link-hp-lapis {
  cursor: pointer;
}


#container-l-1{ 
  min-height: 80vh; 
}
#container-l-2{ 
  min-height: 450px; 
  width: 100%;
}
#container-l-3a{
  width: 50%;
}
#container-l-3b{
  width: 50%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-hp-sm{ max-height: 55vh; }

#partnerships{
  img{
    max-height: 40px;
    margin-right: 20px;
    @include media-breakpoint-up(sm){ max-height: 45px; }
  }
}

$body-margin-xs: 20px;
$body-margin-sm: 50px;
$body-margin-lg: 100px;
$slide-margin: 20px;
#showcase-news {
  position: relative;
  .wrap-center {
    display: flex;
    justify-content: center;
    padding-left: $slide-margin;
    width: 100%;
    overflow: hidden;

    .slick {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;

      /* FOR REFERENCE
      $LR-padding-0: 20px; sm
      $LR-padding-1: 50px; lg
      $LR-padding-2: 100px;
      .container-fluid.super-cont{
        max-width: 1350px;
      }
      */

      // xs - 3 slides
      width: calc(210vw);
      margin-left: -25vw;
      // sm, md
      @include media-breakpoint-up(sm) {
        width: calc((100vw - 2 * #{$body-margin-sm}) / 2 * 4 + (#{$slide-margin} * 1.5));
        margin-left: 0;
      }
      // lg
      @include media-breakpoint-up(lg) {
        width: calc((100vw - 2 * #{$body-margin-lg}) / 3 * 5 + (#{$slide-margin} * 1.5));
      }
      // 1350 up
      @media (min-width: 1350px) {
        width: calc(1150px / 3 * 5 + (#{$slide-margin} * 1.5));
      }

      // add css to elements generated by Slick
      .slick-track {
        display: flex;
        align-items: stretch;
        .slick-slide {
          height: auto;
          position: relative;
          & > div {
            height: 100%;
            position: relative;
            .news-item-v3 {
              height: 100%;
              padding-right: $slide-margin;
              position: relative;
              .cont-wrapper {
                height: 100%;
                background-color: white;
                padding: 15px 20px 20px 20px;
                display: flex;
                flex-flow: column nowrap;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .dots .slick-dots {
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 7px;
      border: 1px solid black;
      @include transition(background-color 200ms);
      &.slick-active {
        background-color: black;
      }
      button {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }

  .side-grads {
    pointer-events: none;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    .container-fluid {
      position: relative;
      height: 100%;
      .width {
        position: relative;
        height: 100%;
        &::before {
          @include linearGradientH(rgba($color-bg, 1), rgba($color-bg, 0));
          position: absolute;
          height: 100%;
          right: 100%;
          width: 200px;
          content: "";
        }
        &::after {
          @include linearGradientH(rgba($color-bg, 0), rgba($color-bg, 1));
          position: absolute;
          height: 100%;
          left: 100%;
          width: 200px;
          content: "";
        }
      }
    }
  }

}

#showcase-discipline{
  .disciplina-item{
    min-height: 300px;
    max-width: 400px;
    @include media-breakpoint-up(lg){ 
      min-height: 350px;
      max-width: 450px;
    }
    @include media-breakpoint-up(xl){ 
      min-height: 400px;
      max-width: 500px;
    }
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    p.capolettera{
      width: 150px;
    }
    .text{
      width: 150px;
      margin-top: -2px;
      line-height: 2.0em;
      p{
        @extend .font-super-ll;
      }
    }
    &.corso {
      min-height: 350px;
      @include media-breakpoint-only(xs){ 
        background-size: 75vw;
      }
    }
  }
  .discipline-left-padding-sm-only{
    @include media-breakpoint-only(sm){ 
      padding-left: 20vw;
    }
  }
}

#cookie-banner{
  position: fixed;
  background-color: $black90;
  color: white;
  a{
    color: $color-super-gold;
  }
  z-index: 400;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  max-height: 400px;
  opacity: 1;
  @include transition(bottom 200ms, opacity 200ms);
  &.hidden{
    bottom: -400px;
    opacity: 0;
  }
}

// --- Page: Newsbox -----------------------------------------------------------

main.newsbox {
  .bg-white {
    border-radius: 5px;
    padding-top: 15px;
  }
}

// --- Page: Lapis -------------------------------------------------------------

.header-line-1 {
  position: relative;
  h2.section-title { 
    z-index: 2;
  }
  div.search-ui {
    input#input-search-lapis {
      &, &:focus {
        background-color: $color-bg;
        border: 0;
        display: inline-block;
        width: 300px;
        text-align: right;
        display: inline-block;
        padding-right: 0;
        color: black;
      }
    }
    button.btn.search-icon {
      padding-right: 0 !important;
      padding-left: 0 !important;
      display: inline-block;
      cursor: pointer;
    }
    @include media-breakpoint-down(sm){ 
      display: flex;
      justify-content: flex-end;
      width: 30px;
      position: absolute;
      background-color: $color-bg;
      top: 0; right: 0;
      height: 28px;
      input#input-search-lapis {
        display: none;
        top: 8px;
        position: relative;
      }
    }
  }
  div.search-ui.active {
    @include media-breakpoint-down(sm){ 
      width: 100%;
      justify-content: space-between;
      z-index: 3;
      input#input-search-lapis {
        display: block;
        text-align: left;
      }
    }
  }
}
.header-line-2 {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @include transition(height 400ms);
  margin-bottom: 25px;
  padding: 9px 0;
  overflow: hidden;
 .tags-wrapper {
    a.tag {
      line-height: 26px;
      color: $color-super-blue;
      margin-right: 8px;
      cursor: pointer;
      &::before {
        content: "#";
      }
    }
  }
  .toggle-tags {
    position: relative;
    display: block;
    line-height: 26px;
    &::before {
    }
    &::after {
      content: "Nascondi ↑";
      cursor: pointer;
    }
  }
  &.collapsed {
    height: 40px;
    .toggle-tags {
      position: absolute;
      top: 0; bottom: 0; right: 0;
      background-color: $color-bg;
      padding-top: 9px;
      padding-left: 20px;
      // line-height: inherit;
      &::before {
        @include linearGradientH(rgba($color-bg, 0), rgba($color-bg, 1));
        position: absolute;
        height: 100%;
        right: 100%;
        width: 100px;
        content: "";
        pointer-events: none;
      }
      &::after {
        content: "Tutte le categorie ↓";
        @include media-breakpoint-down(xs){ 
          content: "Espandi ↓";
        }
      }
    }
  }
}


.lapis-videos {
  .item {
    height: 100%;
    [data-youtube] {
      cursor: pointer;
    }
    .img {
      padding-bottom: 60%;
      height: 0;
      position: relative;
      .clip {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-super-gold;
        img {
          @include transition(opacity 200ms);
          pointer-events: none;
        }
        &:hover {
          img {
            opacity: 0.4;
          }
        }
        &::before {
          content: "";
          width: 38px;
          height: 38px;
          position: absolute;
          bottom: 20px;
          left: 20px;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("./../images/play.svg");
          z-index: 2;
        }
      }
    }
    .tags {
      a {
        display: inline-block;
        margin-right: 6px;
        color: $color-super-blue;
        cursor: pointer;
        &::before {
          content: "#";
        }
        &:hover {
          color: darken($color-super-blue, 5%);
        }
      }
    }
    a.share-video {
      cursor: pointer;
    }
  }
}

input#video-link {
  border: 1px solid lighten($color-super-gold, 20%);
  height: 30px;
  width: 100%;
  padding-left: 8px;
  padding-top: 4px;
  margin-bottom: 12px;
}

.copy-video-link {
  color: $color-super-blue;
  &::after {
    color: $color-super-gold;
    content: " FATTO!";
    @include transition(opacity 200ms);
    opacity: 0;    
  }
  &.confirm::after {
    opacity: 1;
  }
}

// --- Page: Iscrizione --------------------------------------------------------
// --- bootstrap override :: form validation

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
  border: 1px solid #ced4da;
  border-color: #ced4da;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
  color: #212529;
}

div.bootstrap-datetimepicker-widget, 
#datetimepicker1{
  z-index: 2;
  z-index: 100 !important;
}

.custom-select.error, .form-control.error, .was-validated .custom-select.error, .was-validated .form-control.error {
  border-color: $color-error;
}
.form-check-input.error~.form-check-label, .was-validated .form-check-input.error~.form-check-label {
  color: $color-error;
}
label.error{
  font-size: 11px;
  color: $color-error;
}

.form-check-input {
  margin-left: 0;
}

.form-check-label, .checkbox-label-error {
  margin-left: 30px;
}

#error-message{
  opacity: 0;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  background-color: red;
  &.show{
    opacity: 1;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#form-alert{
  display: none;
}

select.simple-link-select{
  background: transparent;
  color: $color-action;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: $color-action2;
  }
  &:disabled{
    color: $grey-ll;
  }
}

#payment-btn{
  width: 320px;
}

.attiva-button{
  text-transform: none !important;
  text-decoration: underline !important;
}

@media print{
  html body#bootstrap-overrides main#pagina-admin{
    background-color: white;
    header.fixed-top.d-flex.justify-content-between.align-items-center{
      display: none !important;
    }

    #pagine-checkout{
    }
  }
}
main#print{
  margin-top: 20px;
  background: white;
  p{
    margin: 8px 0;
  }
  em{
    display: block;
    font-style: normal;
    font-size: 11px;
    color: $color-super-gold;
    &.font-color-black{
      color: black;
    }
  }
  &.registro{
    width: 2222px;
  }
}


// --- MIXINS notes ------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-down(lg) { ... }











